*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#navbar{
    background-color: #129EB1;
    padding-left: 10px;
}

#logo{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}



.nav-link{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-left: 15px;
    transition: 0.5s ease;
}

.nav-link:hover{
    color: black;
}

#collapsibleNavbar{
    display: flex;
    justify-content: center;
}

.icons{
    margin-right: 30px;
    position: right;
}

.icons img{
    margin-left: 10px;
    cursor: pointer;
    width: 30px;
}

li .nav-link{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
}

 /*Banner*/
.banner{
    width: 100%;
    height: 91.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}

#bg-image .banner-photo{
    flex: 1 1 400px;
}

#bg-image .banner-photo img{
    width: 100%;
}

#bg-image .top-left{
    flex:1 1 400px;
}

#bg-image {
    position: relative;
    text-align: left;
    color: black;
    width: 100%;
    height: auto;
}

.banner-photo{
    height: 80%;
    width: 100%;
}

.top-left{
    position: absolute;
    top: 50px;
    left: 16px;
    width: 90%;
    height: 50%;
}

.top-left h3{
    margin-left: 50px;
    font-size: 60px;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.top-left h2{
    margin-left: 50px;
    font-size: 50px;
    font-weight: bold;
}

.changecontent:after{
    content: ' ';
    color: #129EB1;
    text-shadow: 1px 1px 1px black;
    animation: changetext 10s infinite linear;
}

@keyframes changetext{
    0%{content: "Monitores";}
    20%{content: "Camillas";}
    40%{content: "Desfibriladores";}
    60%{content: "Electrobisturí";}
    80%{content: "Ventiladores";}
    100%{content: "Mucho más";}
}

.top-left p{
    margin-left: 50px;
}

.top-left h5{
    margin-left: 50px;
    font-weight: bold;
    font-size: 29px;
}

.top-left .btn{
    margin-top: 20px;
    margin-left: 50px;
    width: 150px;
    height: 40px;
    background-color:#128290;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.top-left .btn:hover{
    background-color: #129EB1;
    color: white;   
}

@media screen and (max-width:1100px){
    .top-left h3{
        margin-left: 50px;
        font-size: 40px;
    }
    .top-left h2{
        margin-left: 50px;
        font-size: 30px;
    }
    .top-left p{
        margin-left: 50px;
    }
    .top-left .btn{
        margin-left: 50px;
    }
}
@media screen and (max-width:900px){
    .top-left{
        top: 30px;
    }
    .top-left h3{
        margin-left: 30px;
        font-size: 30px;
    }
    .top-left h2{
        margin-left: 30px;
        font-size: 20px;
    }
    .top-left h5{
        margin-left: 30px;
        font-size: 20px;
    }
    .top-left p{
        margin-left: 30px;
        font-size: 10px;
    }
    .top-left .btn{
        margin-left: 30px;
        size-adjust: 50%;
    }
}
@media screen and (max-width:760px){
    .top-left h3{
        margin-left: 20px;
    }
    .top-left h2{
        margin-left: 20px;
    }
    .top-left h5{
        visibility: hidden;
    }
    .top-left p{
        visibility: hidden;
    }
    .top-left .btn{
        visibility: hidden;
    }
}

  
/* Cards*/
#t-cards .card{
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}
#t-cards .card:hover{
    transform: translateY(-10px);
}   
#t-cards .card p{
    text-align: center;
    left: 40%;
    font-weight: bold;
}
#t-cards .card a{
    color: #0D626D;
    font-size: 14px;
}

/*login */
.container--fluid{
    width: 70%;
    height: 60%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    left: 50%;
}

.title{
    font-size: 24px;
}

.container--fluid form{
    display: flex;
    width: 50%;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
}

.container--fluid form input{
    height: 36px;
    border-radius: 5px;
    border: 1px solid gray;
}

.container--fluid form p{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Next{
    background-color: blue;
    color: white;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sign{
    border: 0px !important;
    background-color: lightgray;
    font-weight: bolder;
}



/* about us */
#about{
    margin-top: 100px;
}
#about h2{
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    color: #129EB1
}
/* contact us */
#contact{
    margin-top: 50px;
}
#contact h2{
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    color:#129EB1
}
#contact .form-group{
    margin-bottom: 10px;
}
#message button{
    width: 150px;
    height: 38px;
    background-color: #128290;
    border: none;
    border-radius: 3px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    cursor: pointer;
}
#message button:hover{
    background-color: #129EB1;
}

/* footer */
#footer{
    padding: 0 0 30px 0;
    color: #ffffff;
    font-size: 14px;
    background: #0D626D;
  }
  #footer-logo{
    width: 50px;
    height: auto;
  }
  #footer .footer-top{
    padding: 60px 0 30px;
    background: #128290;
    color: #fff;
  }
  #footer .footer-top .footer-contact a{
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
  }
  #footer .footer-top .footer-contact a img{
    margin-right: 10px;
    margin-bottom: 10px;
  }
  #footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  #footer .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #ffffff; 
  }
  #footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-top .footer-links{
    margin-bottom: 30px;
    margin-top: 30px;
  }
  #footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul li{
    padding-right: 2px;
    color: #ffffff;
    font-size: 18px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child{
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul li a{
    color: #ffffff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul a:hover{
    text-decoration: none;
    color: #dddddd;
  }
  #footer .footer-top .social-links a{
    font-size: 18px;
    display: inline-block;
    background: #ECFAFD;
    color: #0D626D;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover{
    background: #dddddd;
    color: #0D626D;
    text-decoration: none;
  }
  
  #footer .copyright{
    text-align: center;
    float: left;
  }
  #footer .credits{
    float: right;
    text-align: center;
  }
  #footer .credits a{
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  /* footer */
  /* footer content */
  
  html{
    scroll-behavior: smooth;
  }
